services:

  krm:
    image: &image kubed/krm:latest
    container_name: krm
    build:
      target: krm
      tags:
      - *image
      - kubed/krm:${GIT_SHA:-latest}
      - kubed/krm:${GIT_REF:-latest}
      - kubed/krm:${GIT_TAG:-latest}
      x-bake:
        platforms:
        - linux/amd64
        - linux/arm64
        cache-to: type=gha,mode=max,scope=kubed-krm
        cache-from: type=gha,scope=kubed-krm
    restart: no
    tty: true
    stdin_open: true
    labels:
      kubed.io/type: cli
      kubed.io/category: iac
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - helm_data:/kubed/.helm
    - ./examples:/workspace/examples:Z
    environment:
      COMPOSE_IGNORE_ORPHANS: 'true'
      COMPOSE_PROJECT_NAME: kubed-krm
      KUBECONFIG: $HOME/.kube/config
    entrypoint:
    - tail
    command:
    - -f
    - /dev/null

  codeserver:
    image: kubed/krm:codeserver
    container_name: krm-codeserver
    build:
      target: codeserver
      tags:
      - kubed/krm:codeserver
      - kubed/krm:codeserver-${GIT_SHA:-latest}
      - kubed/krm:codeserver-${GIT_REF:-latest}
      - kubed/krm:codeserver-${GIT_TAG:-latest}
      x-bake:
        platforms:
        - linux/amd64
        - linux/arm64
        cache-to: type=gha,mode=max,scope=kubed-codeserver
        cache-from: type=gha,scope=kubed-codeserver
    restart: no
    tty: true
    stdin_open: true
    user: coder
    labels:
      kubed.io/type: codeserver
      kubed.io/category: ide
    ports:
    - 8088:8080
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - helm_data:/kubed/.helm
    - ./examples:/workspace/examples:Z
    - $HOME/.kube:/kubed/.kube:Z
    environment:
      COMPOSE_IGNORE_ORPHANS: 'true'
      COMPOSE_PROJECT_NAME: kubed-krm
      KUBECONFIG: /kubed/.kube/config

volumes:
  helm_data:
